  
.content{
   
    background-color: white;
    float:left;
    margin: 20px;  
}
.content::selection{
    color: white;
    background-color: green;
}
.list{
    text-decoration: underline;
    color: white;
    margin: 40px;

}
p:hover{
    background-color: green;
}
.main{
    display: flex;
    max-width: 700px;
    margin: auto; 
    font-family: sans-serif;
}
.column{
    min-width: 200px;
    background-color: red;
    min-height: 100vh;
}
.content::first-letter{
    color: red;
    font-size: 25px;
}
.header{
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: normal;
    height: 25px;               
    background-color: green;
    padding: 15px;
    margin-bottom: 0px;
}
.footer{
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: normal;
    background-color: black;
    padding: 5px;
    margin-top: 0px;
}